.unity-button {
    max-height: none;
    min-height: 25px;
    max-width: none;
    min-width: 50px;
}

.indicator {
    max-width: 1px;
    min-width: 1px;
    max-height: 100%;
    min-height: 100%;
    position: absolute;
}
