.unity-button {
    min-width: 60px;
    min-height: 30px;
}

.time-indicator {
    position: absolute;
    left: -500px;
    background-color: rgba(191, 191, 191, 0.5);
    width: 1px;
    height: 100%;
}

.note-indicator {
    position: absolute;
    left: -500px;
    width: 10px;
    height: 10px;
    background-image: resource('UI Sprites/InsPos');
}
