.horizontal-wrapper {
    flex-direction: row;
    align-items: center;
}

.note-indicator {
    width: 32px;
    height: 40px;
    position: absolute;
    left: -500px;
}

.note-display {
}

.note-num-indicator {
    width: 14px;
    height: 18px;
    position: relative;
    left: 16px;
    right: 0;
    top: 20px;
}
